body{
    background-image: url("https://res.cloudinary.com/dko5fxoa0/image/upload/v1690744933/dvn5tyqi3hbh10mnundw.jpg");
}
ul{
    font-family: 'Alegreya',cursive, serif;
    font-weight: bolder;   

}
