/* ----------------------Home page Style----------------------------- */
body{
    background-image: url("https://res.cloudinary.com/dko5fxoa0/image/upload/v1693468702/pexels-mudassir-ali-2680270_y7k4rr_m1zznf.webp");
    color: rgb(248, 248, 242);
    font-family: 'Alegreya',cursive, serif;
}
/* ---------------Navbar Style--------------- */
.page-header{
    font-family:'Pacifico', cursive, sans-serif;
   
}

nav{
    font-family: 'Alegreya',cursive, serif;
    font-weight: bold;  
  
}
.navbar{
    padding-bottom: 1.5px;
}
.nav-link{
    color:  rgb(4, 96, 126);
}

.nav li:hover:not(.active) {
    cursor: pointer;
    transform: scale(1.2);
    overflow: hidden;

}
.navigation {
    padding-left: 20px;
}

.navigation i {
    color: rgb(4, 96, 126);
    margin-right: -2px;
}
.navbar li {
    margin-right: 15px;
    transition: all 0.1s ease-out;
}


.nav-link:focus,
.nav-link:hover {
    transform: scale(1.1);
    color:  rgb(4, 96, 126);
}
ul .dropdown-menu{
    background-color: rgb(248, 248, 242);
}
.dropdown-item{
    color: rgb(4, 96, 126);
    font-weight: bold;
}
.active {
    transform: scale(1.1);
}

.active a {
    color: #3a3a3a;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: rgb(248, 248, 242);
}
offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    font-family: 'Pacifico', cursive, sans-serif;;
}
.home-page-text{
    font-family: cursive, serif;
    font-style: italic;
}
.border{
    border: none;
}
/* ---------------Header Style--------------- */
header{
    background-color: rgb(248, 248, 242);
    margin-bottom: 0;
}
.page-header{
    
    color: rgb(4, 96, 126);
}

/* ---------------------------------------Index Page Style--------------------------------------- */
.carousel-item img{
    width: 100%;
    height: auto;
}
.home-img-card img{
    max-width: fit-content;
    max-width: fit-content;
}
.confirm_dialog{
    color:  rgb(4, 96, 126);
}
/* ---------------Backgroung Style--------------- */
.carousel-inner{
    width: 100%;
    height: auto;
}
/* ---------------Card Style--------------- */
.card img{
    height: auto;
}
.card-title:hover{
    color: rgb(234, 235, 159);
    text-decoration: underline;
}

/* ---------------------------------------Category (Dinner, Sweets and Coctailes) Pages Style--------------------------------------- */
/* ---------------Card Style--------------- */
.card{
    max-height: fit-content;
    max-width: fit-content;

}
.card img{
    object-fit: contain;
    border-radius: 2px;
}
.card-body{
    color: rgb(248, 248, 242);
}
.card-img-overlay{
    color: rgb(51, 51, 167);
}

.recipe-card:hover {
    box-shadow: 0px 0px 4px #f4efde !important;
}

.recipe-detail-link{
    color: rgb(248, 248, 242);
}
.recipe-detail-link:hover{
    color: rgb(234, 235, 159);
    text-decoration: underline;
}
.card-body p{
    font-size: larger;
    
}
a{
    text-decoration: none;
}

.container-class page-title{
    align-items: center;
}

.page-link{
    margin-top: 100px;
    border: 2px solid antiquewhite;
    border-radius: 25px;
    
}

/* ---------------------------------------Recipe Detail Page Style--------------------------------------- */
#recipe-content{
    color: rgb(248, 248, 242);
}
.recipe-detail-bk-img{
    max-width: 65%; 
    max-height: 70vh;
}
#recipe-detail{
    max-height: 70vh;
    max-width: 100%;
}
.recipe-detail-container{
    max-width: 70%;
    max-height: fit-content;
    background-color: rgba(193, 219, 241, 0.32);
    
}
#img-detail-items{
    max-width: inherit;
}
.decorated {
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

.btn-like {
    color: rgb(248, 248, 242);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color:rgb(248, 248, 242);
    background: transparent;
    border: none;
}
.testpopover{
    text-align:center;
}
/* ---------------Add Recipe Page Style--------------- */

div .panel-heading{
    width: 100%;
}
.note-toolbar{
    width: 100%;
}
iframe{
    width: 100%;
}
.add-recipe{
    max-width: 100%;
}



/* ---------------Arrow to top Style (Base page)--------------- */
#btn-top {
    margin: 30px auto;
    border-radius: 50%;
    border-color: rgb(248, 248, 242);
    width: auto;
    color: rgb(248, 248, 242);

}
#btn-top:hover{
    background-color: rgba(27, 27, 130, 0.21);
    
}
.btn-simple {
    border: 2px solid antiquewhite;
    color: antiquewhite;
    margin: 0px auto;
    
}
.btn-div{
    text-align: center;
}


/* -----------------------------------Sign in/Sign Up pages Style-------------------------------------- */

.account-link{
    text-decoration: underline;
    color: rgb(248, 248, 242);
}
 
/* -----------------------------------Footer Style-------------------------------------- */
footer a{
    font-weight: bolder;
    color: rgb(248, 248, 242);
}

/* -----------------------------------Media Queries------------------------------------- */

@media (max-width: 1000px) {
    .recipe-detail-container{
        max-width: 90%;
    }
    .recipe-detail-bk-img{
        max-width: 90%; 
        max-height: 70vh;
    }

}
@media (max-width: 700px) {
    .recipe-detail-container{
        max-width: 90%;
    }
    .recipe-detail-bk-img{
        max-width: 90%; 
        max-height: 70vh;
    }
    #img-detail-items{
        max-width: 90%;
    }
}
@media (max-width: 600px) {
    .recipe-detail-container{
        max-width: 100%;
    }
    .recipe-detail-bk-img{
        max-width: 90%; 
        max-height: 40vh;
    }
    #img-detail-items{
        max-width: 90%;
    }
}
@media (max-width: 400px) {
    .recipe-detail-container{
        max-width: 100%;
    }
    .recipe-detail-bk-img{
        max-width: 100%; 
        max-height: 30vh;
    }
    #img-detail-items{
        max-width: 100%;
       
    }
}
@media (max-width: 300px) {
  .created_on{
    display: none;
  }
    #img-detail-items{
        max-width: 100%;
        overflow: hidden;
       
    }
    .col-2{
        width: fit-content;
    }
}

