body{
    background-image: url("https://res.cloudinary.com/dko5fxoa0/image/upload/v1690823830/pexels-mudassir-ali-2680270_1_lstqg7.jpg");
    color: rgb(248, 248, 242);
    font-family: 'Alegreya',cursive, serif;
}
ul{
    font-family: 'Alegreya',cursive, serif;
    font-weight: bolder;   

}
header{
    background-color: rgb(248, 248, 242);
    margin-bottom: 0;
}
.page-header{
    
    color: blue;
}

.carousel-inner{
    height: 90vh;
}
.card {
    max-height: 60vh;

}
.card-body{
    color: rgb(248, 248, 242);
}
.card-body p{
    font-size: larger;
    
}
a{
    text-decoration: none;

}
.card img{
    max-height: 60vh;
}
.card-img-overlay{
    color: rgb(51, 51, 167);
}
.recipe-card:hover {
    box-shadow: 0px 0px 4px #f4efde !important;
}

.jumbotron{
    background-color: transparent;
} 
.coctailes-recipe{
    padding-left: 0;
    padding-right: 0;
}
.btn-div{
    text-align: center;
}
#btn-top {
    margin: 30px auto;
    border-radius: 50%;
    border-color: rgb(248, 248, 242);
    width: auto;
    color: rgb(248, 248, 242);

}
.btn-simple {
    border: 2px solid antiquewhite;
    color: antiquewhite;
    margin: 0px auto;
    
}

.footer-section{
    font-weight: bolder;
    color: rgb(248, 248, 242);
}