{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mx-auto justify-content-center">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center decorated"><span> Add Recipe </span></h1>
        </div>
    </div>
    
    <br>
    <div class="row mx-auto justify-content-center">
        {% if user.is_authenticated %}
        {% load cloudinary %}
        <div class="mx-auto justify-content-center col-10 col-md-10 col-lg-10 ">
            <!--  Add Recipe Form -->
            <form method="post" /form-data" class="add-recipe mt-3 justify-content-center">
                {{ form | crispy }}
                {% csrf_token %}
               
                <div class="col text-center font-weight-bold mt-4">
                    <button type="submit" class="font-weight-bold fs-5 border border-3 btn btn-outline-primary btn-light btn-signup center mb-3 shadow-lg">Submit</button>
                    <a class="font-weight-bold fs-5 border border-3 btn btn-outline-primary btn-light center mb-3 shadow-lg" href="{%  url 'home' %}">Cancel</a>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
