{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Yummy Recipes Free">
  <meta name="keywords" content="recipes, dinner, sweets, coctailes">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,600&family=Pacifico&display=swap"
    rel="stylesheet">
  
  <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690826708/favicon-32x32_u2dmq5.png"
    >
   <!-- Bootsrap CDN-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!--Style Sheet-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  <title>Ymmy Recipes</title>
</head>

<body class="content-wrapper">
  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid ">
        <a href="{% url 'home' %}"
          class="d-flex align-items-start mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <h1 class="fs-3 page-header" >YUMMY</h1>
        </a>
        <button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#navbarText" aria-controls="navbarText">
          <span class="visually-hidden justify-content-end">Hamburger Icon</span>
          <span class="navbar-toggler-icon justify-content-end"></span>
        </button>
        <div class="offcanvas offcanvas-end" id="navbarText">
          <!-- Site Logo -->
          <div class="offcanvas-header">
            <h2 class="offcanvas-title logo fs-5" id="offcanvasNavbarLabel">
              <a href="{% url 'home' %}">YUMMY</a>
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!-- Navigation menue items-->
          <ul class="navbar-nav nav-tabs justify-content-end navigation fs-5">
            <li class="nav-item flex a-center"><a class="nav-link" href="{% url 'home' %}">
                <i class="fa-solid fa-house nav-icon"></i> Home</a></li>
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="{% url 'dinner' %}"><i class="fa-solid fa-utensils"></i>
                Dinner</a></li>
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="{% url 'sweets' %}"><i class="fa-solid fa-cake-candles"></i>
                Sweets</a></li>
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="{% url 'coctailes' %}"><i class="fa-solid fa-apple-whole"></i>
                Coctailes</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="{% url 'add_recipe' %}"><i class="fa-solid fa-plus"></i>
                Add Recipe</a></li>
            <li class="nav-item flex a-center dropdown">
              <a class="nav-link nav-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"><i class="fa-solid fa-image-portrait"></i> Profile</a>
              <ul class="dropdown-menu border-0">
                <li><a class="dropdown-item" href="{% url 'mybookmarks' %}">My Bookmarks</a></li>
                <li><a class="dropdown-item" href="{% url 'my_recipes' %}">My Recipes</a></li>

              </ul>
            </li>
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i
                  class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
            {% else %}
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="{% url 'account_login' %}"> <i
                  class="fa-solid fa-right-to-bracket"></i> Login</a></li>
            <li class="nav-item flex a-center">
              <a class="nav-link nav-item" href="{% url 'account_signup' %}"><i
                  class="fa-solid fa-right-to-bracket"></i>
                Register</a></li>
            {% endif %}


          </ul>

        </div>
      </div>
    </nav>

  </header>
  <!--Log out confirmation message-->
  <div class="content-wrapper">
    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title confirm_dialog fs-5" id="logoutModalLabel">Log Out</h5>

            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p class="confirm_dialog fs-4">Are you sure you want to sign out?</p>
          </div>

          <div class="modal-footer">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type="submit" class="btn btn-secondary font-weight-bold fs-5 btn-outline-primary btn-light "
                id="btn-submit">Yes</button>
              <button type="button" class="btn btn-secondary font-weight-bold fs-5 btn-outline-primary btn-light"
                id="btn-cancel" data-bs-dismiss="modal">No</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Message allert from Code Institute's -->
 
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
      </div>
    </div>
  </div>

  {% block content %}
  <!-- Content here -->
  {% endblock content %}

  <!-- Back to top arrow button -->
  <div class="row btn-div">
    <button type="button" onclick="topFunction()" class="btn btn-floating btn-lg btn-simple" id="btn-top">
      <i class="fas fa-arrow-up" aria-hidden="true"></i>
      <span class="visually-hidden">Go to top</span>
    </button>
  </div>

  <!-- Footer -->
  <div class="container footer-section">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link px-2 text-body-secondary"
            target="blank" rel="noopener" aria-label="Facebook page (opens in new tab)"><i
              class="fa-brands fa-facebook"></i></a></li>
        <li class="nav-item"><a href="https://twitter.com/" class="nav-link px-2 text-body-secondary" target="blank"
            rel="noopener" aria-label="Twitter page (opens in new tab)"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/" class="nav-link px-2 text-body-secondary"
            target="blank" rel="noopener" aria-label="Instagram page (opens in new tab)"><i
              class="fa-brands fa-instagram"></i></a></li>
        <li class="nav-item"><a href="https://www.youtube.com/" class="nav-link px-2 text-body-secondary" target="blank"
            rel="noopener" aria-label="Youtube page (opens in new tab)"><i class="fa-brands fa-youtube"></i></a></li>
      </ul>
      <p class="text-center text-body-secondary">copy right © Ala Yousef 2023</p>
    </footer>
  </div>
 

  <!-- Font Awesome script -->
  <script src="https://kit.fontawesome.com/9b10509272.js" crossorigin="anonymous" defer></script>
  <!-- Bootstrap scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>