{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-12">
            <h1 class="text-center decorated"><span> Edit {{recipe.name}} Recipe </span></h1>
            <p class="text-center decorated h3 mt-0">Welcome back, {{user.username}}</p>
        </div>
    </div>
    <br>

    {% if user.is_authenticated and recipe.author == user  %}
    <!-- Checks if the user is signed in and if he is the recipe author-->
    <div class="mx-auto justify-content-center col-10 col-md-10 col-lg-10 ">
        <!-- Edit Form -->
        <form method="post" enctype="multipart/form-data" class="add-recipe mt-3 justify-content-center">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="col text-center font-weight-bold mt-4">
                <button type="submit" class="fs-5 border border-3 btn btn-outline-primary btn-light">Edit</button>
                <a class="fs-5 border border-3 btn btn-outline-primary btn-light"
                    href="{%  url 'my_recipes' %}">Cancel</a>
            </div>
        </form>
    </div>
    {% endif %}
</div>
</div>

{%endblock%}