{% extends "base.html" %}

{% block content %}


<main>

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690821934/medqlvhj1dvz9pkzzfbe.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1689511209/cld-sample-4.jpg" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828477/pexels-engin-akyurt-1435904_czswgb.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row">
      <a href="">
        <div class="card bg-transparent border-light mb-3" style="max-width:auto;">
          <div class="row">

            <div class="col-md-6">
              <img
                src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828481/pexels-vanessa-loring-5971872_d0avah.jpg"
                width="auto" class="img-fluid rounded-start" alt="Dinner-recipe">
            </div>
            <div class="col-md-6">
              <div class="card-body bg-transparent">
                <h2 class="card-title">Dinner Recipes</h2>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <hr class="featurette-divider">
    <div class="row">
      <a href="">
        <div class="card bg-transparent border-light mb-3" style="max-width:auto;">
          <div class="row">
            <div class="col-md-6">
              <div class="card-body bg-transparent">
                <h2 class="card-title">Sweets Recipes</h2>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-6">
              <img
                src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828476/pexels-valeria-boltneva-7474205_ewyb7o.jpg"
                width="auto" class="img-fluid rounded-end" alt="sweets-recipes">
            </div>
          </div>
        </div>
      </a>
    </div>

    <hr class="featurette-divider">
    <div class="row">
      <a href="">
        <div class="card bg-transparent border-light mb-3" style="max-width:auto;">
          <div class="row">

            <div class="col-md-6">
              <img
                src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828457/pexels-jugoslocos-8169572_pry4kk.jpg"
                width="auto" class="img-fluid rounded-start" alt="coctailes-recipes">
            </div>
            <div class="col-md-6">
              <div class="card-body bg-transparent">
                <h2 class="card-title">Coctailes Recipe</h2>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!--most favourite recipe section-->
    <hr class="featurette-divider">
    <a href="">
      <div class="card text-bg-light border-light">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828474/pexels-lukas-349610_lqngzk.jpg"
          class="card-img" alt="...">
        <div class="card-img-overlay">
          <h2>Most Favourite Recipes</h2>
          <h4 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional.
            <br>This content is a little bit longer.</h4>

        </div>
      </div>
    </a>

    <!--comments section-->
    <hr class="featurette-divider">
    <div class="card text-center bg-transparent border-light">
      <div class="card-header">
        alaa
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="card text-center bg-transparent border-light ">
      <div class="card-header">
        alaa
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="card text-center bg-transparent border-light ">
      <div class="card-header">
        alaa
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>


</main>


{% endblock %}