{% extends "base.html" %}

{% block content %}


<main>

  <div id="carouselExampleAutoplaying" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690821934/medqlvhj1dvz9pkzzfbe.jpg"
          class="d-block w-100" alt="Background-image">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1689511209/cld-sample-4.jpg" class="d-block w-100"
          alt="Background-image">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828477/pexels-engin-akyurt-1435904_czswgb.jpg"
          class="d-block w-100" alt="Background-image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container">

    <hr class="featurette-divider">

    <div class="row mb-3 gx-5">
     
      <div class="row gx-5 mb-4 mx-auto">
        <div class="col-sm-12 col-12 col-md-12 gx-5  ">
          <a href="{% url 'dinner' %}">
          <div class="card mb-3 bg-transparent" style="max-width: 100%">
            <div class="row g-0">
              <div class="col-12 col-sm-12 col-md-6  col-lg-6">
      
                <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1691121267/fttjv5wbbwmf1v5vkphh.jpg"
                class="card-img img-fluid" alt="...">
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card-body">
                  <h4 class="card-title">Dinner Recipe</h4>
                  <p class="card-text">Save yourself stress in the kitchen
                    with our
                    easy dinner ideas, from filling pasta bakes to warming curries and simple traybakes the family will
                    love..</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
       </div>

        
      <div class="row gx-5 mb-4 mt-5 mx-auto">
        <div class="col-sm-12 col-12 col-md-12 gx-5  ">
          <a href="{% url 'sweets' %}">
          <div class="card mb-3 bg-transparent" style="max-width: 100%">
            <div class="row g-0">
              <div class="col-12 col-sm-12 col-md-6  col-lg-6">
      
                <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828483/pexels-diana-light-4722020_wfstye.jpg"
                class="card-img img-fluid" alt="...">
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card-body">
                  <h4 class="card-title">Sweets Recipes</h4>
                  <p class="card-text">Have you ever wondered by your mood goes from drab to fab the moment you sink your
                    teeth into a gooey chocolate cake or a chimney cake straight out of the oven?..</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
       </div>

        
      <div class="row gx-5 mb-4 mt-5 mx-auto">
        <div class="col-sm-12 col-12 col-md-12 gx-5  ">
          <a href="{% url 'coctailes' %}">
          <div class="card mb-3 bg-transparent" style="max-width: 100%">
            <div class="row g-0">
              <div class="col-12 col-sm-12 col-md-6  col-lg-6">
      
                <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1690828457/pexels-jugoslocos-8169572_pry4kk.jpg"
                class="card-img img-fluid" alt="...">
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card-body">
                  <h4 class="card-title">Coctailes Recipe</h4>
                  <p class="card-text">People love cocktails Their colours and appearance are fun.
                    There are no rules to making cocktails. We can put whatever we like in it. We can even name our very
                    own cocktail mix.
                    <br>See our best ever classic cocktails recipes..</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
       </div>
      
    </div>
   
    <!--comments section-->
    <hr class="featurette-divider">
    <div class="card text-center bg-transparent border-light">
      <div class="card-header">
        alaa
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="card text-center bg-transparent border-light ">
      <div class="card-header">
        alaa
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="card text-center bg-transparent border-light ">
      <div class="card-header">
        alaa
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>


</main>


{% endblock %}