{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container recipe-detail-container g-0 mb-5 rounded shadow-lg border border-light" id="recipe-content">
    <!-- Page Header -->
    <div class="row">
        <div class="col-12">
            <h1 id="recipe-list-title" class="text-center decorated mt-4"><span> {{ recipe.name }} Recipe </span></h1>
        </div>
    </div>
    <!-- Display Recipe image  -->
    <div class="row h-25 mx-auto">
        {% if "placeholder" in recipe.featured_image.url %}
        <img src="https://res.cloudinary.com/dko5fxoa0/image/upload/v1693470190/pexels-wagner-soares-1126975_tkamct_y5fgu6.webp"
            class="img-fluid mx-auto p-3 bg-body rounded recipe-detail-bk-img" alt="sweets-recipes"
            style=" object-fit: cover;">
        {% else %}
        <img src=" {{ recipe.featured_image.url }}" class="img-fluid mx-auto p-3 bg-body rounded recipe-detail-bk-img"
            style=" object-fit: cover;" alt="sweets-recipes">
        {% endif %}

    </div>
    <!-- Display Recipe detailes  -->
    <div class="row mt-2 mx-auto bg-light.bg-gradient align-items-start fs-6 fw-bold mb-4" id="img-detail-items">
        <div class="col-2">
            <strong>
                <!-- If the user is logging in, has the access to add likes-->
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_like' recipe.id %}" method="post">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" value="{{recipe.id}}" class="btn-like"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" value="{{recipe.id}}" class="btn-like"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <!-- Redirect to the log in page If the user click on like btn without logging on-->
                <a href="{% url 'account_login' %}" class="btn-like"><i class="far fa-heart"></i></a>

                {% endif %}
                <span>{{ recipe.number_of_likes }}</span>
            </strong>

        </div>
        <div class="col-1">
            <strong>
                <!-- If the user is logging in, has the access to add bookmarkes-->
                {% if user.is_authenticated %}
                <form class="d-inline " action="{% url 'recipe_bookmarked' recipe.id %}" method="post">
                    {% csrf_token %}
                    {% if bookmark %}
                    <button type="submit" value="{{recipe.id}}" class="btn-like"><i
                            class="fa-solid fa-bookmark"></i></button>
                    {% else %}
                    <button type="submit" value="{{recipe.id}}" class="btn-like"><i
                            class="fa-regular fa-bookmark"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <!-- Redirect to the log in page If the user click on bookmark btn without logging on-->
                <a href="{% url 'account_login' %}" class="btn-like"><i class="fa-regular fa-bookmark "></i></a>
                {% endif %}
            </strong>

        </div>
        <div class="col-3 text-center created_on">
            {% if recipe.min_hour == 0 %}
            <i class="far fa-clock pr-2"></i> {{ recipe.time }} min
            {% else %}
            <i class="far fa-clock pr-2"></i> {{ recipe.time }} hour
            {% endif %}

        </div>
        <div class="col-6 text-end created_on"><i class="fa-regular fa-user"></i>
            {{ recipe.author }} | {{ recipe.created_on }}
        </div>


    </div>

    <div class="row g-0 mb-5">
        <div class=" col-11 col-md-11 mx-auto">

            <h1 class="post-title">{{ recipe.name }}</h1>
            <!-- Display Recipe description -->
            <p class="card-text">{{ recipe.description | safe }}</p>
        </div>
    </div>
    <div class="row g-0 mb-5">
        <div class=" col-11 col-md-11 mx-auto">
            <!-- Display Recipe description -->
            <h1>Ingredients: </h1>
            <p class="card-text">{{ recipe.ingredients | safe  }}</p>
        </div>
    </div>
    <div class="row g-0 mb-5">
        <div class=" col-11 col-md-11 mx-auto">
            <!-- Display Recipe description -->
            <h1>Steps: </h1>
            <p class="card-text">{{ recipe.steps | safe }}</p>

        </div>
    </div>


</div>

</div>

<div class="container  recipe-detail-container rounded shadow-lg border  border-light">
    <div class="row g-0 mb-5">
        <div class="col-md-12  mb-4 mt-3 card-text mx-auto">
            <h2><i class="fa-solid fa-comment"></i> Comments:</h2>
            <!-- Display comments -->
            {% for comment in comments %}
            <div class="row">
                <div class="col-md-11 comments rounded  mb-4 mx-auto border  border-light">
                    <p>
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        <span class="font-weight-bold fs-3"><i class="fa-regular fa-user"></i> {{ comment.name }} :
                        </span>
                        {{ comment.created_on }}
                        <!-- User can Delete comment if he is the comment author -->
                        {% if user.is_authenticated and user.username == comment.name %}
                        <a href="{% url 'delete_comment' comment.id %}" class="recipe-detail-link">
                            <span> <i class="fa-regular fa-trash-can"></i></span>
                        </a>
                        {% endif %}
                    </p>

                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container recipe-detail-container rounded border  border-light mt-4">
    <div class="row g-0 mb-5" style="display: block;">
        <div class="col-md-12  mb-4 mt-3 card-text mx-auto">
            <!-- Comment from -->
            {% if user.is_authenticated %}
            <h3 class="mt-3 mx-auto" style="margin-top: 1.3em;"><i class="fa-regular fa-comments"></i> Leave a comment:
            </h3>
            <p>Logged as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;" class="mx-auto">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <div class="col text-center font-weight-bold">
                    <button class="fs-5 border border-3 btn btn-outline-primary btn-light mb-3 mt-3"
                        type="submit">Submit
                    </button>
                </div>
            </form>
            {% endif %}
        </div>

    </div>
</div>


{% endblock content %}